<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Traducción de Texto</title>
</head>
<style>
    .result{
        background-color: aqua;
        height: 70vh;
        width: 90vw;
        margin: auto;
        overflow-y: scroll;
    }
    .questionsForm{
        margin: auto;
        width: 90vw;
        display: flex;
    }
    .questionText{
        margin: auto;
        width: 100%;
        height: 30px;
        padding: 0;
    }
    .questionButton{
        width: 100px;
    }
</style>
<script>
    let timeoutId;

    const traducir = (texto) => {
        if (texto === ""){
            return
        }
        fetch('/question?text=' + texto)
            .then(response => response.json())
            .then(data => {
                let nuevoElemento = document.createElement("p");
                nuevoElemento.textContent = data.translation;
                let divResult = document.getElementById('result')
                divResult.appendChild(nuevoElemento);
                divResult.scrollTop = divResult.scrollHeight;
            })
            .catch(error => {
                console.error('Error:', error);
            });
    }
    function ejecutarSiEsEnter(event) {
        if (event.key === 'Enter') {
            traducir(event.target.value);
            event.preventDefault(); // Esto evita que se inserte un salto de línea en el input
        }
    }

    document.getElementById("miInput").addEventListener("keydown", function(event) {
      if (event.key === "Enter") {
        event.preventDefault();
      }
    });
</script>
<body>
    <div class="result" id="result"></div>
    <form class="questionsForm" id="miInput">
        <input class="questionText" type="text" placeholder="Escribe aquí" id="textoQuestion" onkeydown="ejecutarSiEsEnter(event)"/>
        <button class="questionButton" type="button" onclick="traducir(document.getElementById('textoQuestion').value)">Enviar</button>
    </form>
</body>
</html>
